body{
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;

}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/*Header*/

.header{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
}

.header__inner{
    display:  flex;
    justify-content: space-between;
}


/*Nav*/

.nav{
    font-size: 14;
    text-transform: uppercase;
}

.nav__link{
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    
    color: #000;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover{
    color: #999;
    
}

/*Container*/

.container{
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    background-color: beige;
}

.space{
    height: 50px;
}

/*Cards*/

.card__list{
    width: 100%;

    border:200px;
    left: 0;
    right: 0;

    background-color: #000;
}

.card{
    max-width: 800px;
    height: 300px;

    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card__title{
    font-size: 22px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    height: auto;
}

.card__information{
    height: 100%-40px;
    display: flex;
}

.main__card__information{
    height: 100%;  
    width: 30%;
    background-color: #333;
}

.rest__card__information{
    height: 100%;
    width: 70%;
    background-color: #999;
}
